<div class="show">
  <h1><%= link_to @restaurant.name, @restaurant.url %></h1>
  <%= image_tag @restaurant.image_url %>
  <p><%= @restaurant.kind_of_food %></p>
  <p><%= @restaurant.address %></p>
</div>
